G05_Project Submission/G05_flows.json
[{"id":"53a05f2c.baae9","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"9b81c01c.da251","type":"openweathermap","z":"53a05f2c.baae9","name":"","wtype":"current","lon":"","lat":"","city":"","country":"","language":"en","x":910,"y":260,"wires":[["6cbdbc8a.8ef984","8965d481.c83db8"]]},{"id":"6a874c39.084b54","type":"trigger","z":"53a05f2c.baae9","name":"","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"-30000","extend":false,"overrideDelay":true,"units":"ms","reset":"reset","bytopic":"all","topic":"topic","outputs":1,"x":520,"y":260,"wires":[["a99e3bff.d20008"]]},{"id":"c8b90873.b74088","type":"ui_button","z":"53a05f2c.baae9","name":"","group":"4ddf0818.8eb258","order":1,"width":"3","height":"1","passthru":false,"label":"Get Info","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":260,"y":180,"wires":[["c097ae5c.072ae"]]},{"id":"9cc2787e.5c17b8","type":"ui_button","z":"53a05f2c.baae9","name":"","group":"4ddf0818.8eb258","order":2,"width":"3","height":"1","passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","icon":"","payload":"reset","payloadType":"str","topic":"","x":250,"y":300,"wires":[["6a874c39.084b54"]]},{"id":"b04641c8.c9f17","type":"ui_text_input","z":"53a05f2c.baae9","name":"","label":"Delay Seconds","tooltip":"","group":"904e531c.d1c7c","order":3,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","x":280,"y":360,"wires":[["ce8b27c4.4f8508"]]},{"id":"ce8b27c4.4f8508","type":"function","z":"53a05f2c.baae9","name":"","func":"global.set(\"refresh\", msg.payload);\nreturn {\n    delay: msg.payload * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":360,"wires":[["6a874c39.084b54"]]},{"id":"628cf839.20b5c8","type":"debug","z":"53a05f2c.baae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1250,"y":300,"wires":[]},{"id":"a99e3bff.d20008","type":"function","z":"53a05f2c.baae9","name":"","func":"return {\n    location: {\n          city: global.get(\"City\"), country: global.get(\"Country\"),\n        \n        }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":720,"y":260,"wires":[["9b81c01c.da251"]]},{"id":"caf3ebf7.19f728","type":"ui_text_input","z":"53a05f2c.baae9","name":"","label":"City","tooltip":"","group":"babb118.66070f","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":190,"y":520,"wires":[["ebdaa09a.6ffe4"]]},{"id":"6c04f47a.48f41c","type":"ui_text_input","z":"53a05f2c.baae9","name":"","label":"Country","tooltip":"","group":"babb118.66070f","order":8,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":180,"y":560,"wires":[["a9869e5d.078c3"]]},{"id":"ebdaa09a.6ffe4","type":"function","z":"53a05f2c.baae9","name":"","func":"global.set(\"City\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":520,"wires":[[]]},{"id":"a9869e5d.078c3","type":"function","z":"53a05f2c.baae9","name":"","func":"global.set(\"Country\",msg.payload);","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":560,"wires":[[]]},{"id":"ff078f7c.e3261","type":"inject","z":"53a05f2c.baae9","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"30","payloadType":"num","x":110,"y":360,"wires":[["b04641c8.c9f17"]]},{"id":"c097ae5c.072ae","type":"function","z":"53a05f2c.baae9","name":"","func":"\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":180,"wires":[["6a874c39.084b54"]]},{"id":"4e1ef362.e0709c","type":"mqtt out","z":"53a05f2c.baae9","name":"","topic":"ENTC/EN2560/in/180241M","qos":"","retain":"","broker":"279a05f4.eec61a","x":1240,"y":460,"wires":[]},{"id":"6cbdbc8a.8ef984","type":"function","z":"53a05f2c.baae9","name":"","func":"return {\n    payload: msg.payload.tempc + \",\" + msg.payload.humidity + \",\" + msg.payload.weather + \",\"  + msg.location.city+\",\"+msg.location.country + \",\" + msg.data.timezone\n        \n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":360,"wires":[["4e1ef362.e0709c","628cf839.20b5c8"]]},{"id":"a570dd10.01967","type":"mqtt in","z":"53a05f2c.baae9","name":"","topic":"ENTC/EN2560/out/180241M","qos":"2","datatype":"auto","broker":"93f47448.acfe08","x":160,"y":80,"wires":[["7fc2536d.cf38cc"]]},{"id":"8965d481.c83db8","type":"debug","z":"53a05f2c.baae9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":260,"wires":[]},{"id":"40009ed8.eb025","type":"function","z":"53a05f2c.baae9","name":"","func":"global.set(\"City\",msg.payload.city);\nglobal.set(\"Country\",msg.payload.country);\nreturn {\n    delay: global.get(\"refresh\") * 1000\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":240,"wires":[["6a874c39.084b54"]]},{"id":"7fc2536d.cf38cc","type":"json","z":"53a05f2c.baae9","name":"","property":"payload","action":"","pretty":false,"x":150,"y":240,"wires":[["40009ed8.eb025"]]},{"id":"4ddf0818.8eb258","type":"ui_group","name":"Buttonss","tab":"7884879a.5cd3d8","order":4,"disp":false,"width":"3","collapse":false},{"id":"904e531c.d1c7c","type":"ui_group","name":"Controls","tab":"7884879a.5cd3d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"babb118.66070f","type":"ui_group","name":"Enter City & Country","tab":"7884879a.5cd3d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"279a05f4.eec61a","type":"mqtt-broker","name":"","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"93f47448.acfe08","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"15","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"7884879a.5cd3d8","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]